<div class = "stock_detail" id="<%=stock.symbol%>">
  <h3><%= "#{stock.name} (#{stock.symbol})" %></h3>
  <p>Last Trade Price: <%= stock.last_trade_price %></p>
  <p>Shares Owned: <%= stock.user_shares %></p>
  <p>Two Hundred Day Moving Average: <%= stock.two_hundred_day_mvg_avg %></p>
  <a href = "#" class="delete_stock" data-symbol = "<%=stock.symbol %>">Remove</a>
</div>